body{
    background-color: #2a2b2e;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
}
.search-box{
    height: 330px;
    width: 500px;
    color: #E5E4E2;
    border-radius: 12px;
    margin-top: 5%;  
}
.search-wrapper{
display: flex;
flex-direction: column;
align-items: center;
border-top-right-radius: 12px;
border-top-left-radius: 12px;
font-size: 30px;
}
#search{
    font-size: 20px;
    width: 458px;
    background-color: #E5E4E2;
    border-radius: 50px;;
    border: none;
    font-weight: bold;
}
#searchmain{
    display: flex;
    background-color: #E5E4E2;
    border-radius: 50px;
    width: 494px;
}
.location{
    display: flex;
    justify-content: center;
    padding: 3px;
    cursor: pointer;
    margin-left: 3px;
    margin-right: 3px;
    border: none;
    height: 36px;
    background-color: #E5E4E2;
    font-weight: 545;
    font-size: 16px;
}
.location:hover{
    background-color: lightgray;
}
.location-box{
    display: flex;
    flex-direction: column;
    font-size: 15px;
}
#root{
    display: flex;
    justify-content: center;
}
#main-container{
    height: 300px;
    width: 500px;
    background-image: url(forest.jpg);
    color: #E5E4E2;
    border-radius: 12px;
    margin-top: 5%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#root2{
    display: flex;
    justify-content: center;
}
#name{
    font-size: 50px;
}
#temp{
    font-size: 100px;
}
#date{
    font-size: 25px;
}
#condition
{
    display: flex; 
   align-items: center;
}
#text{
    font-size: 25px;
}
#minmax{
    justify-content: center;
}
#vertical1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
#vertical2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#horizontal1{
gap: 90px;
    display: flex;
justify-content: center;
align-items: center;
}
#horizontal2{
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #E5E4E2;
    margin-left: 5%;
    margin-right: 5%;
    font-style: italic;
}
.forecast{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.forecastMinMax
{
    font-size: 15px;
}
input:focus  {
    outline: none;
    border: none;
    box-shadow: none;
  }
  #search-text{
    padding-bottom: 30px;
    font-size: 40px;
  }
  .locationBottom{
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  #searchmain{
    background-color: #E5E4E2;
  }

